.lock
/.idea/
/.idea/dictionaries
/rcc.iml
/rcc_db
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/rcc.jar
/rccservice.jar
/rcc_test_db
/rcc_unit_test_db
/README_win.txt
/rcc.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jdk
/jdk.runtime
/javafx-sdk
/javafx-sdk.runtime
/dist
deploy.sh
/resource/rcc.manifest.mf
/resource/rccservice.manifest.mf
/rcc.exe
/rccservice.exe
/bundles
*.patch
/addons/classes/
/addons/src/*.java
/out
/rcc
